
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.head_secanas{
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0px;
}

.headtextanas{
  position: absolute;
  top: 50px;
  left: 100px;
  width: 400px;
  height: auto;
  
}

.headtextanas p{
  display: block;
  color: white;
  font-size: 18px;
  width: 700px;
}

.headtextanas button{
  background-color: #F16D08;
  width: 238px;
  height: 70px;
  color: white;
  font-weight: 500;
}

/* .text_head{
    position: absolute;
    top: 30px;
    left: 10px;
    display: inline;
    font-size: 100px;
    color: white;
    font-family: 'Poppins', sans-serif;
    transform: matrix(1,0,0,1,187.9319,115.3802) rotate(-10deg);
    font-weight: 200;
    opacity: 0.4;
} */


/* .text_head span{
    z-index: 1;
} */
