/* ============================== Hadi CSS ====================== */
.benefit {
    background-color: black;
    color: white;
    padding: 1.5em 0 5em 0;
}

.benefit .image {
    width: 50px;
    height: 50px;
}


.footer {
    background-image: url('../assets/annie-spratt-R3LcfTvcGWY-unspl.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 0 10em 0;
    text-align: center;
    color: white;
}

.footer h1 {
    margin: 2em 0 1.5em 0;
}
.footer h1,
.footer h3 {
    color: white;
    text-shadow: 5px 5px 10px black;
}
/* ============================== End Of Hadi CSS ====================== */